.main-section {
  background-image: url("../img/img-main.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.card {
  height: 100px;
}

.card img {
  height: 250px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  list-style-type: none;
}

li {
  padding: 2px;
}
